@page "/car"
@inject ICarService _carService
@inject IJSRuntime _js
@inject NavigationManager _navigationManager


<PageTitle>Serwis samochodowy | Auta</PageTitle>
<h1>Lista aut</h1>
<br />
<div>
    <div>
        <a href="car/add" class="btn bg-primary"><span class="oi oi-plus" aria-hidden="true"></span> Dodaj auto </a>
    </div>
    <br />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Rok produkcji</th>
                    <th>VIN</th>
                    <th>Numer rejestracyjny</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in _carList)
                    {
                    <tr>
                        <td>@p.Make</td>
                        <td>@p.Model</td>
                        <td>@p.Year</td>
                        <td>@p.VIN</td>
                        <td>@p.LicensePlate</td>
                        <td>
                            <button class="btn bg-warning" @onclick="@(()=>UpdateCar(@p.Id))"><span class="oi oi-pencil" aria-hidden="true"></span>Edytuj</button>
                            <button class="btn bg-danger" @onclick="@(()=>DeleteCar(@p.Id))"><span class="oi oi-delete" aria-hidden="true"></span>Usuń</button>
                        </td> 
                    </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<CarDto> _carList = null;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _carList = _carService.GetAll();
    }
    protected async Task DeleteCar(int id)
    {
        var car = _carList.First(q => q.Id == id);
        var confirm = await _js.InvokeAsync<bool>("confirm", $"Jesteś pewien że chcesz usunąć Auto: {car.VIN}?");
        if (confirm)
        {
            _carService.Delete(id);
            OnInitialized();
        }
    }

    protected async Task UpdateCar (int id)
    {
        _navigationManager.NavigateTo($"car/edit/{id}");
    }
}
